// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

// Variables
@import '../variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-Awesome
@import '~font-awesome/scss/font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #fafafa;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  .logo {
    width: 100px;
    height: 100%;
    cursor: pointer;
    img {
      height: 100%;
    }
  }
  .logo, .header-content {
    padding: 0 20px;
  }
}


.ac-btn {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: $primary-color;
  color: white;
  
}