.container-plates{
   // background-color: white;
   background-color: rgb(255, 255, 255, 0.9);
   margin-top: 30px;
   border-radius: 20px;
   label{
      font-weight: 900;
   }
   input, textarea, select{
      box-shadow: 0 0 3px rgb(19, 53, 63);

   }
}