
  // caratteristiche riquadro tasti vedi ordine e nuovo ristorante
    
  .right-dashboard-plates-team5{
    margin-top:14px;
    
    a{
      height: 40px;
      .btn-team5{
        min-width: 110px;
      }
    }
  }
  
   
  
.plate-slider-team5{
  padding:0;
  height: 60vh;
  // overflow: scroll;
  scrollbar-width: thin;
  background-color: rgb(255, 255, 255, 0.4);
  border-radius: 10px;

  
    // caratteristiche card piatti 
  .card-piatti-team5{
    text-align: center;
    font-size: 14px;
    // border-bottom: 1px solid black;
    padding: 10px 0;
    width:90%;
    margin:auto;
    .card-piatti-team5-left{ 
      transition: all 0.3s;
      font-size: 12px;
      padding: 10px;
      margin-left: 10px;
      box-shadow: 0 0 8px $primary-color;
      border-radius: 10px;
      color:black;
      background-color: rgb(255, 255, 255);

      .name{
        height:45px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:hover{
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        font-weight: bold;
        transform: scale(1.05, 1.1);
      }
    }
    .card-piatti-team5-right{ 
      transition: all 0.3s;
      font-size: 12px;
      padding: 10px;
      margin-left: 10px;
      box-shadow: 0 0 8px gray;
      border-radius: 10px;
      color:black;
      background-color: white;

      .name{
        height:45px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:hover{
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        font-weight: bold;
        transform: scale(1.05, 1.1);
      }
    }
  }
}
  // ****************************************************
   



  
  // caratteristiche slider in large vuew
  @media screen and (max-width: 992px) {
    .plate-slider-team5{
      box-shadow: none;
      height:fit-content;
      font-size: 12px;
      scrollbar-width:none;
      
    }     
  }
  // **********************************************



  // Display none per le card presenti in small vuew
  @media screen and (min-width: 768px){
    .small-card-piatti-team5{
      display: none;
      background-color: white;
    }
    
    // caratteristiche piatti in medium view
    .plate-img{ 
      max-height: 110px;
      width: 40%;
      border-radius: 15px;
    
      img {
        width: 100px;
        height: 80px;
        border-radius: 15px;
      }
    }  
  }
  // ****************************************************





  // small view ***************************************
  
  @media screen and(max-width: 768px) {
    
    .plate-slider-team5{
      display: none;
    }
    div{
      .small-plate-slider-team5{
       
        .small-card-left{
          background-color: white;
          padding: 0;
          display: flex;
            
          font-size: 12px;
          padding: 10px;
          margin: 10px;
          margin-left: 10px;
          box-shadow: 0 0 8px gray;
          border-radius: 10px;
          color:black;
        
          .name{
            height:45px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
        }

      }
    }

    //  caratteristiche contenitore piatti in small view
    .plate-img{ 
      max-height: 110px;
      width: 100%;
      border-radius: 15px;
      a{
    
        img {
          width: 100%;
          height: 100%;
          border-radius: 15px;
          overflow: hidden;
          object-fit: cover;
        }
      }
    }  

  }
      



  


 
