.badge-team5{
  background-color: darken($secondary-color, 20);
  color:rgb(0, 0, 0);
  border-radius: 2px;
  padding: 0 5px;
}

.card-plates-team5{
 
  height : 300px;
  overflow: scroll;
}

.img-team5{
  img{
    width:100%;
  }
}

.restaurant-name-team5{
  text-align: center;
  background-color: white;
  color:darkens($primary-color,40);
  padding: 10px;
  border-radius: 25px;
  box-shadow: 3px 3px 10px rgb(111, 111, 111)
}


.right-dashboard-plates-team5{
  border-top: 6px solid darken($primary-color, 40);
  max-height: 200px;
  border-bottom: 1px solid #ffffff;
  background-color: lighten($primary-color,40);
  border-radius: 25px;

}
/**************************flip-card****************/
.flip-card {
  background-color: transparent;
  width: 150px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  
  position: relative;
  width: 100%;
  height: 100%;
  // text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: darken($primary-color, 30);
  
}

/* Style the back side */
.flip-card-back {
  text-align: center;
  background-color: white;
  color:black;
  transform: rotateY(180deg);
}
/**************************flip-card****************/