.img-show-team5{
  
  width: 100%;
  max-height: 300px;
  border-radius: 300px;
  overflow: hidden;
  border: 8px solid white !important;
  margin:auto;
  img{
    object-fit: cover;
    object-fit: center;
    width: 100%;
  }
}